@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --dark-grey: #333333;
  --white: #FFFFFF;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 80rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  align-self: flex-start;
  padding: 1rem 0;
}

@media (prefers-color-scheme:dark){
  body {
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 1.6rem;
  }
}