:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 62.5%;
  --remove-red: rgb(204, 0, 0);
  --white: rgb(255, 255, 255);
  --blue: rgb(0, 47, 255);
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
}

h1, h2 {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.logo {
  height: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

section {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 375px;
}

label {
  margin: 0.5rem 0;
}

input[type=text],
select {
  padding: 0.5rem;
}

input[type=checkbox]{
  height: 20px;
  width: 20px;
}

button[type=submit]{
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
}

#books-table th,
#books-table td {
  padding: 0.5rem;
  text-align: left;
}

table {
  border: 1px solid white;
}

table th,
table tr {
  border-bottom: 1px solid white;
  text-align: left;
}

.remove {
  background-color: var(--remove-red);
  border: 1px solid var(--remove-red);
  color: var(--white);
  font-size: 1.6rem;
}

.edit {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 100%;
  position: absolute;
  top: 10rem;
  width: 100%;
}

.hidden {
  display: none;
}

.form-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-container form {
  width: 40rem;
}

footer {
  display: block;
}

@media (min-width: 60rem){
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f1f1f1;
    color: #333333;
  }
  a:hover {
    color: #747bff;
  }
}
